
#home
{
    position: relative;
    width: 100%;
    padding: 120px 0px 60px;
    background-color: transparent;
    background-image: url("../img/principal.jpg");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: initial; 
}

#home h1 {
    padding-bottom: 30px;
    font-family: "Lobster",cursive;
    font-size: 60px;
    line-height: 87px;
    font-weight: 700;
    color: #FFF;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
    text-align: center;
    padding-right: 45%;
}


#home h3, h4 {
    position: relative;
    font-family: "EB Garamond",serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.25);
    padding-right: 45%;
}



#home h3::before {
    content: "";
    position: absolute;
    left: 0%;
    top: 50%;
    height: 2px;
    width: 20%;
    margin-top: 0px;
    background-color: #FFF;
    background-image: none;
    background-size: initial;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial;
}

#home h3::after {
    content: "";
    position: absolute;
    right: 45%;
    top: 50%;
    height: 2px;
    width: 20%;
    margin-top: 0px;
    background-color: #FFF;
    background-image: none;
    background-size: initial;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial;
}

#home h2 {
    padding-top: 20px;
    font-family: "Lobster",sans-serif;
    font-size: 60px;
    line-height: 122px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 8px 7px 0px #000000;
    text-align: center;
    padding-right: 45%;
}


@media screen and (min-width: 480px) {
    
    #home
{
    position: relative;
    width: 100%;
    padding: 120px 0px 60px;
    background-color: transparent;
    background-image: url("../img/principal.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial; 
}
    
   #home h2 {
    padding-top: 20px;
    font-family: "Lobster",sans-serif;
    font-size: 120px;
    line-height: 122px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 8px 7px 0px #000000;
    text-align: center;
    
}

#home h1 {
    padding-bottom: 30px;
    font-family: "Lobster",cursive;
    font-size: 85px;
    line-height: 87px;
    font-weight: 700;
    color: #FFF;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 1);
    text-align: center;
}

}

.line {
    position: absolute;
    z-index: 4;
    height: 10%;
    top:-26px;
    left: 0px;
    width: 100%;
    height: 24px;
    background-color: #daa520 ;
    box-shadow:  #daa520 ;
}

.fotos
{
    margin-top: 4%;
    text-align: center;
}

#sobre {
    position: relative;
    width: 100%;
    padding: 80px 0px 60px;
    font-family: "EB Garamond",sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    background-color: transparent;
    background-size: auto auto;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: initial;
}

#eventos {
    position: relative;
    width: 100%;
    padding: 100px 0px 60px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    background-color: #f3f3f3;
    background-size: auto auto;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: initial;
}

#historia {
    position: relative;
    width: 100%;
    padding: 100px 0px 60px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    background-color: transparent;
    background-size: auto auto;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: initial;
}

#historia h1 {
    padding-bottom: 30px;
    font-family: "Lobster",cursive;
    font-size: 85px;
    line-height: 87px;
    font-weight: 700;
    color: #ec7845;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#eventos h1 {
    padding-bottom: 40px;
    font-family: "Lobster",sans-serif;
    font-size: 100px;
    line-height: 122px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 8px 7px 0px #000000;
    text-align: center;
}

#sobre h2 {
    padding: 20px 0 0;
    margin-top: 0;
    margin-bottom: 30px;
    color: #000000;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    line-height: 85px;
    font-weight: 700;
    text-shadow: 2px 1px 0 rgba(0,0,0,0.35);
    text-align: center;
}

#sobre p {
    color: #888;
    text-align: center;
}


#depoimento .depoimento-container {
    position: relative;
    z-index: 5;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #FFF;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset;
}

#depoimento
{
    position: relative;
    width: 100%;
    padding: 120px 0px 60px;
    background-color: transparent;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial;
}

#depoimento h2 {
    padding-bottom: 40px;
    font-family: "Lobster",sans-serif;
    font-size: 80px;
    line-height: 122px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 8px 7px 0px #000000;
    text-align: center;
}

li a{
    
    font-family: "Lobster",sans-serif;
    font-size: 20px;
    color: #ffffff;
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding-left:  25%;
  overflow: hidden;
  background-color: #daa520;
}

ul.topnav li {
    float: left;
    }

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:680px) {
    ul.topnav {padding-left: 0%}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block; 
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;padding-left: 0}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; 
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}