.painel-animado.ng-leave-active{
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform:  scale(0.1);
}

.painel-animado{

 -moz-transition: transform 0.8s;
    -webkit-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    -o-transition: transform 0.8s;
    transition:  transform 0.8s;
}

.caixa
{
    width: 32%;
    margin-left: 1%;
    background-color: #ffffff;
}

#home
{
position: relative;
width: 100%;
padding: 120px 0px 60px;
background-color: transparent;
background-image: url("../img/fundo1.jpg");
background-size: cover;
background-position: center top;
background-repeat: no-repeat;
background-attachment: initial;
}

#home h1 {
    padding-bottom: 30px;
    font-family: "Lobster",cursive;
    font-size: 85px;
    line-height: 87px;
    font-weight: 700;
    color: #FFF;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#home h3 {
    position: relative;
    font-family: "EB Garamond",serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 5px;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.25);
}

#home h3::before {
    content: "";
    position: absolute;
    left: 20%;
    top: 50%;
    height: 2px;
    width: 20%;
    margin-top: 0px;
    background-color: #FFF;
    background-image: none;
    background-size: initial;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial;
}

#home h3::after {
    content: "";
    position: absolute;
    right: 20%;
    top: 50%;
    height: 2px;
    width: 20%;
    margin-top: 0px;
    background-color: #FFF;
    background-image: none;
    background-size: initial;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: initial;
}

#home h2 {
    padding-top: 20px;
    font-family: "Lobster",sans-serif;
    font-size: 120px;
    line-height: 122px;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 8px 7px 0px #000000;
    text-align: center;
}

.line {
    position: absolute;
    z-index: 4;
    height: 10%;
    top:-26px;
    left: 0px;
    width: 100%;
    height: 24px;
    background-color: #FF4500;
    box-shadow:  2px 5px 0px #FF6347;
}

.fotos
{
    margin-top: 4%;
    text-align: center;
}

#about {
    position: relative;
    width: 100%;
    padding: 80px 0px 60px;
    font-family: "EB Garamond",sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    background-color: transparent;
    background-size: auto auto;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: initial;
}

#eventos {
    position: relative;
    width: 100%;
    padding: 100px 0px 60px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    background-color: transparent;
    background-image: url("../img/festa.jpg");
    background-size: auto auto;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: initial;
}


#eventos h2 {
    font-family: "Lobster",cursive;
    font-size: 30px;
    line-height: 87px;
    font-weight: 50;
    color: #96c7f5;
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#about p {
color: #888;
}